.menu{
    background-color: grey;
    display: flex;


}

nav{
    display: flex;
    list-style: none;
}
.btn-navegacion{
    background-color: cornflowerblue;
    padding: 10px;
    margin: 5px;
    border: 1px solid blue;
    border-radius: 5px;

    &:hover{
        background-color: rgb(27, 41, 66);
        color: white;
    }
}
.activo{
    background-color: rgb(62, 153, 92);
    
}

