<!-- <form class="card">
  <label for="name">Nombre</label>
  <input type="text" id="name" placeholder="Nombre" />

  <label for="lastname">Apellidos</label>
  <input type="text" id="lastname" placeholder="Apelldiso" />

  <label for="username">Nombre de Usuario</label>
  <input type="text" id="username" placeholder="Nombre de Usuario" />

  <label for="email">E-mail</label>
  <input type="email" id="email" placeholder="E-mail" />

  <label for="password">Contraseña</label>
  <input type="password" id="password" placeholder="Contraseña" />
  
  <label for="image">Fotografia</label>
  <input type="text" id="image" placeholder="Fotografia" />
</form> -->
<!-- 

Creamos el formulario como componente ya que sera reutilizado tanto en el campo de nuevo como en la
edicion, en el campo nuevo todos los inputs estaran habilitados, mientras que a la hora de editar
estaran desabilidtados y tendran un boton para activar su edicion, tabmien un boton para eliminar


-->
<div class="col-6 m-3">
  <form [formGroup]="modelForm" class="col-auto card p3" (ngSubmit)="getDataForm()">
    <div class="m-2">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="name" id="name" placeholder="Introduce tu nombre">
      <!-- @if(modelForm.get('name')?.hasError('required')&& modelForm.get('name')?.touched){
          <p class="text-danger" >el campo es requerido</p>
      }
      @if(modelForm.get('name')?.hasError('minlength')&& modelForm.get('name')?.touched){
          <p class="error">La longitud minima es de 3 caracteres</p>
      } -->
          @if(checkControl('name','required')){
              <p class="text-danger" >el campo es requerido</p>

          }
          @if(checkControl('name','minlength')){
              <p class="error">La longitud minima es de 3 caracteres</p>

          }
  </div>
  <div class="m-2">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="Introduce tu email">
      @if(checkControl('email','required')){
          <p class="text-danger" >el campo es requerido</p>

      }
      @if(checkControl('email','pattern')){
          <p class="text-danger" >el email es requerido</p>

      }
  </div>
  <div class="m-2">
      <label for="edad" class="form-label">Edad</label>
      <input type="number" class="form-control" formControlName="edad" id="edad" placeholder="Introduce tu edad">
  </div>
  <div class="m-2">
      <label for="dni" class="form-label">DNI</label>
      <input type="text" class="form-control" formControlName="dni" id="dni" placeholder="Introduce tu nombre">
  </div>
  <div class="m-2">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" id="password" placeholder="Introduce tu password">
  </div>
  <div class="m-2">
      <label for="reptiepass" class="form-label">Reptiepass</label>
      <input type="password" class="form-control" formControlName="reptiepass" id="reptiepass" placeholder="Repite tu password">
  </div>
  <input type="submit" class="btn btn-danger" value="enviar" [disabled]="!modelForm.valid">

  </form>
</div>
